@*************************@
@*Reason Section - Top   *@
@*************************@

<div class="container-fluid p-0">
    <div class="row p-0">
        <div class="about-section-top">
            <div class="about-us-text-header">About Us</div>
            <div class="about-reasons-box" data-aos="fade-up" data-aos-duration="1500">
                <a class="about-reason-box-text-title -slide-white-50" href="#reason1">Passion</a><span class="about-reason-box-text-tagline">We live eat and breath digital solutions</span>
                <a class="about-reason-box-text-title -slide-white-50" href="#reason2">Focus</a><span class="about-reason-box-text-tagline">We focus on understanding your business and driving results</span>
                <a class="about-reason-box-text-title -slide-white-50" href="#reason3">Knowledge</a><span class="about-reason-box-text-tagline">We guide you along the way</span>
            </div>
        </div>
    </div>
</div>

@*************************@
@*Reason 1               *@
@*************************@

<div id="reason1" class="container-fluid p-0">
    <div class="about-section-reason1">
        <div>
            <img class="about-reason1-image" data-aos="fade-up" data-aos-duration="1500" src="~/Media/women-success.jpg" />
        </div>
        <div class="about-reason1-text-box" data-aos="fade-up" data-aos-duration="1500">
            <p class="about-reason1-text-box-title">Passion</p>
            <div class="about-reason1-text-box-text">
                First and foremost we are passionate about using digital technology to help you grow your business.  At the heart is your website, but the digital 'eco-system'
                can include integrated marketing processes which leverage social media platforms and other 3rd party websites to draw visitors to your website.  From there, a well designed
                website with good content can help convert visitors into customers.
            </div>
        </div>
    </div>
</div>

@*************************@
@*Reason 2               *@
@*************************@

<div id="reason2" class="container-fluid p-0">
    <div class="about-section-reason2">
        <div class="about-reason2-text-box" data-aos="fade-up" data-aos-duration="1500">
            <p class="about-reason2-text-box-title">Focus</p>
            <div class="about-reason2-text-box-text">
                First and foremost we are passionate about using digital technology to help you grow your business.  At the heart is your website, but the digital 'eco-system'
                can include integrated marketing processes which leverage social media platforms and other 3rd party websites to draw visitors to your website.  From there, a well designed
                website with good content can help convert visitors into customers.
            </div>
        </div>
        <div>
            <img class="about-reason2-image" data-aos="fade-up" data-aos-duration="1500" src="~/Media/women-success.jpg" />
        </div>
    </div>
</div>

@*************************@
@*Reason 3               *@
@*************************@

<div id="reason3" class="container-fluid p-0">
    <div class="about-section-reason3">
        <div>
            <img class="about-reason3-image" data-aos="fade-up" data-aos-duration="1500" src="~/Media/women-success.jpg" />
        </div>
        <div class="about-reason3-text-box" data-aos="fade-up" data-aos-duration="1500">
            <p class="about-reason3-text-box-title">Knowledge</p>
            <div class="about-reason3-text-box-text">
                First and foremost we are passionate about using digital technology to help you grow your business.  At the heart is your website, but the digital 'eco-system'
                can include integrated marketing processes which leverage social media platforms and other 3rd party websites to draw visitors to your website.  From there, a well designed
                website with good content can help convert visitors into customers.
            </div>
        </div>
    </div>
</div>

@*************************@
@*Questions & Answers    *@
@*************************@

<div id="QnA" class="container-fluid m-0 p-0 faq-section">
    <div class="row faq-title-row">
        <div class="col-sm-12 faq-title-text">
            <p>Frequently Asked Questions</p>
            <a class="faq-title-link -slide-white-50" href="#"><u>Contact us if you want to have a chat</u></a>
        </div>
    </div>

    @* Q&A*@
    <div class="row faq-QA-row">
        <div class="col-sm-6">
            <div class="faq-QA-row-question">
                Q. How long does typical website project take from beginning to end?
            </div>
            <div class="faq-QA-row-answer">
                <b>A.</b>Of course it depends on the scope of work, but a typical project to create a website which is bespoke, responsive (works seemlesly on different devices such as tablets and mobile phone) and content managed takes between 2-3 months.
            </div>
        </div>
        <div class="col-sm-6">
            <div class="faq-QA-row-question">
                Q. How much does a new website cost?
            </div>
            <div class="faq-QA-row-answer">
                <b>A.</b> Again, it depends on the scope of work, but typical investments start from around £2500.
            </div>
        </div>
    </div>

    @* Q&A*@
    <div class="row faq-QA-row">
        <div class="col-sm-6">
            <div class="faq-QA-row-question">
                Q. What does Digital Marketing Management include?
            </div>
            <div class="faq-QA-row-answer">
                <b>A.</b> Underpinned by a sound Digital Strategy, it can include everything related to operationalising your digital marketing function -
                e.g. setting up social media accounts, creating landing pages and content, accurately measuring the ROI you obtain from digital media marketing camapigns.
            </div>
        </div>
        <div class="col-sm-6">
            <div class="faq-QA-row-question">
                Q. Where does the name Adcreo come from?
            </div>
            <div class="faq-QA-row-answer">
                <b>A.</b> It is latin for "to create" - and speaks to our focus and enjoyment in using digital technologies to create value.
            </div>
        </div>
    </div>
</div>
