/********************************/
/* Horizontal Rule Formatting   */
/********************************/
hr.style2 {
    border-top: 1px dotted $brand-accent-color1;
    border-bottom: 1px dotted $brand-accent-color1;
    width: 50%;
}