<footer>
    <div class="footer-section">
        <div class="footer-column-1">
            <div class="footer-item-column-1">
                <h3>ADCREO</h3>
            </div>
            <div class="footer-detail-font">
                <a class="sliding-u-l-r smoothScroll" href="#home">HOME</a>
                &nbsp;·&nbsp;
                <a class="sliding-u-l-r" href="#">ABOUT</a>
                &nbsp;·&nbsp;
                <a class="sliding-u-l-r" href="#">SERVICES</a>
                &nbsp;·&nbsp;
                <a class="sliding-u-l-r" href="#">BLOG</a>
                &nbsp;·&nbsp;
                <a class="sliding-u-l-r" href="#">CONTACT</a>
            </div>
        </div>
        <div class="footer-column-2">
            <div class="footer-item-column-2">
                <h3>Contact us:</h3>
            </div>
            <div class="footer-detail-font">
                <span class="fa fa-phone">&nbsp;</span>
                <span class="footer-detail">07912 848831</span>
            </div>
            <div class="footer-item-column-2 footer-detail-font">
                <span class="fa fa-envelope"></span>
                <a href="mailto:support@adcreo.com">&nbsp;hello@adcreo.com</a>
            </div>
        </div>
        <div class="footer-column-3">
            <div class="footer-item-column-3">
                <h3>Follow us on social media:</h3>
            </div>
            <div class="footer-detail-font">
                <a href="#"><span class="fa fa-facebook">&nbsp;·&nbsp;</span></a>
                <a href="#"><span class="fa fa-twitter">&nbsp;·&nbsp;</span></a>
                <a href="#"><span class="fa fa-linkedin">&nbsp;·&nbsp;</span></a>
                <a href="#"><span class="fa fa-github"></span></a>
            </div>
        </div>
    </div>
</footer>
<div class="container-fluid p-0">
    <p class="footer-copyright">ADCREO &copy; @DateTime.Now.Year - All Rights Reserved</p>
</div>
