/***********************************/
/*Services Overview Page Formatting*/
/***********************************/

.poly1 {
    position: relative;
    margin: 0 0 800px;
    padding: 20% 20px;
    z-index: 5;
}

.poly2 {
    position: relative;
    margin: -800px 0 800px;
    padding: 20% 20px;
    @include grad(90deg, white, white);
    z-index: 4;
}

.poly3 {
    margin: -800px 0 800px;
    padding: 20% 20px;
    z-index: 3;
}

.poly1-box {
    position: absolute;
    margin: -8% 25% 0px 25%;
    width: 50%;
}

.quote {
    text-align: center;
    font-size: $large-font-size;
    font-weight: $bold;
    color: $brand-secondary;
}

.quote-author {
    line-height: 1rem;
    color: white;
    text-align: right;
}

.poly2-box {
     position: absolute;
    /*@extend .poly1-box;*/
    margin: 3% 5% 0 0;
    background-color: $brand-body-bg2;
    width: 30%;
}
.services-bottom {
    margin-top: -550px;
}