/********************************/
/* Homepage Services Formatting */
/********************************/

.home-services-title {
    font-size: $regular-font-size;
    color: $brand-secondary;
    background-color: $brand-body-bg3;
    font-weight: $bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-services-container {
    background-color: $brand-body-bg3;
    padding-bottom: 50px;
}

.cards {
    @include flexbox();
    @include flex-flow(row wrap);
    box-sizing: border-box;
}

.card {
    @include flexbox();
    @include flex-flow(column wrap);
    @include justify-content(space-between);
    @include align-items(center);
    background-color: $brand-body-bg1;
    box-shadow: 1px 1px 1px #000;
    box-sizing: border-box !important;
    border-radius: 0;
    margin: 1%;
    padding: 1%;
    text-align: center;

    @include mappy-bp(max xsmall) {
        width: 100%;
    }

    @include mappy-bp(xsmall) {
        @include flex(1 1 100%);
    }

    @include mappy-bp(small) {
        @include flex(1 1 40%);
    }

    @include mappy-bp(medium) {
        @include flex(1 1 40%);
    }

    @include mappy-bp(large) {
        @include flex(1 1 23%);
    }

    @include mappy-bp(xlarge) {
        @include flex(1 1 23%);
    }
}

.card-title {
    font-weight: $bold;
    letter-spacing: 3px;
    padding-top: 5px;
    line-height: 2rem;

    @include mappy-bp(max xsmall) {
        font-size: $brand-font-size * 1;
    }

    @include mappy-bp(xsmall) {
        font-size: $brand-font-size * 1;
    }

    @include mappy-bp(small) {
        font-size: $brand-font-size * 1.25;
    }

    @include mappy-bp(medium) {
        font-size: $brand-font-size * 1.5;
    }

    @include mappy-bp(large) {
        font-size: $brand-font-size * 1.5;
    }

    @include mappy-bp(xlarge) {
        font-size: $brand-font-size * 1.5;
    }
}

.card-body {
    font-size: $brand-font-size;

    @include mappy-bp(xsmall) {
        font-size: $brand-font-size * 1;
    }

    @include mappy-bp(small) {
        font-size: $brand-font-size * 1;
    }

    @include mappy-bp(medium) {
        font-size: $brand-font-size * 1.25;
    }

    @include mappy-bp(large) {
        font-size: $brand-font-size * 1.25;
    }

    @include mappy-bp(xlarge) {
        font-size: $brand-font-size * 1.25;
    }
}

.card-button {
    @include brand-button($small-size, $brand-secondary, $brand-accent-color1, $brand-accent-color2);
}

.contact-button {
    @include brand-button($medium-size, $brand-secondary, $brand-accent-color1, $brand-accent-color2);
}

.home-services-contact {
    text-align: center;
    margin-top: 30px;
}

.card > [class*="icon"] {
    color: $brand-accent-color1;
}