<div class="container-fluid m-0 p-0">
    <div class="businessconsultancy-services-poly1">
        <div class="businessconsultancy-services-poly1-title">
            BUSINESS CONSULTANCY
        </div>
        <div class="businessconsultancy-services-poly1-quote" data-aos="fade-up" data-aos-duration="1500">
            <strong data-aos="fade-up" data-aos-duration="1500">"'The aim of marketing is to know and understand the customer so well the product or service fits him and sells itself.'"</strong>
            <p>Peter Drucker</p>
        </div>
    </div>
</div>

@*************************************@
@*Business Consultancy Service       *@
@*************************************@

<div id="businessconsultancyservice" class="container-fluid p-0">
    <div class="businessconsultancy-services-box1">
        <div>
            @*<img class="design-responsive-image" data-aos=" fade-up" data-aos-duration="1500" src="~/Media/responsive-1166833_640.png" alt="Responsive Design" />*@
            <img class="design-responsive-image" data-aos=" fade-up" data-aos-duration="1500" src="~/Media/iStock-503465634-cust-analysis.jpg" alt="Customer Analysis" />
        </div>
        <div class="businessconsultancy-service-text-box" data-aos="fade-up" data-aos-duration="1500">
            <p class="businessconsultancy-service-text-box-title">CUSTOMER FOCUS</p>
            <div class="businessconsultancy-service-text-box-text">
                <p>
                    <strong>"Start with the end in mind"</strong> - is a useful concept to keep in mind when starting any project, and creating a new website is no exception.
                </p>
                <p>
                    Our approach is simple, using this concept and adding<strong>&nbsp;"...for whom?"</strong>
                </p>
                <p>
                    When designing a website it is critical to consider whom you're designing it for - you can do this by adopting a human centered design approach.  By defining the the customer journey
                    you can capture the touch points your organisation has with them on that journey, measure your effectiveness at each touch point and influence the design accordingly.
                </p>
                <p>
                    These steps enable us to underpin your website design with the rational derived from the customer journey. This rational can be reviewed when assessing
                    the performance of your website against the objectives set.
                </p>
                <p>
                    We call this process 'Insight' - and it is made up of five steps outlined below along with the key purpose and output fro
                    m each step:
                </p>
                <ul>
                    <li>
                        <strong>Insight - key steps and purpose:</strong>
                        <ul>
                            <li>Understand - to define your objectives and using your insights to better understand and empathsise with your target audience</li>
                            <li>Specify - to craft a clear statement which sets out your primary challenge and problem statement</li>
                            <li>Blueprint - to create ideas, explore them and agree which to take forwards</li>
                            <li>Make - to prototype the selected idea(s)</li>
                            <li>Test - to solicit feedback from potential customer's and validate or revise assumptions</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

