<div class="container-fluid m-0 p-0">
    <div class="design-services-poly1">
        <blockquote class="design-services-poly1-quote">"Design is not just what it looks like and feels like.<br />Design is how it works."</blockquote>
        <div class="design-services-poly1-quote-author">Steve Jobs</div>
    </div>
    <div class="design-services-box1">
    </div>
</div>
