@*************************@
@*Design Service         *@
@*************************@

@*/******************************************/
  /* Design Service Header                  */
  /******************************************/*@

<section id="design-service-header" class="container-fluid m-0 p-0">
    <div class="design-services-poly1">
        <h1>DESIGN</h1>
        <blockquote class="design-services-poly1-quote">"Design is not just what it looks like and feels like.<br />Design is how it works."</blockquote>
        <div class="design-services-poly1-quote-author">Steve Jobs</div>
    </div>

</section>

@*/******************************************/
    /* Design Service Intro Text              */
    /******************************************/*@

<section id="design-service-intro" class="container-fluid m-0 p-0" data-aos="fade-up" data-aos-duration="1500">
    <div class="design-services-introbox">
        <div class="design-services-introbox-title">
            Start with the end in mind
        </div>
        <div class="design-services-introbox-text">
            If you need a new web site or are thinking about revamping your existing site where is the best place to start? What is the best way to create a compelling website which will maximise your appeal to potential customers?
            At Adcreo we use a three step approach to firstly focus on understanding your target customers then, through prototyping, explore different ideas and concepts and finally jointly agree a “blueprint”, an agreed way forwward to build
            (or update) your website and keep it in tip-top condition.
        </div>
    </div>
</section>

@*/******************************************/
    /* Design Service Design Service Cards    */
    /******************************************/*@

<section id="design-service-cards" class="container-fluid m-0 p-0" data-aos="fade-up" data-aos-duration="1500">
    <div class="card-group design-card-group" >
        <div class="card">
            <img class="card-img-top design-card-image-size" src="~/Media/iStock-503465634-cust-analysis.jpg" alt="Customer Requirements Analysis" />
            <div class="card-block">
                <h4 class="card-title design-card-title">INSIGHT</h4>
                <p class="card-text">
                    We listen to you to get an understanding of your business, objectives , opportunities and challenges.  We use various techniques to probe (and challenge) to define a clear problem
                    or opportunity statement which provides focus and context to inform future decisions. We create “customer journeys” and examine your potential customer touchpoints – and how to
                    measure and maximise your impact at each one.
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top design-card-image-size" src="~/Media/iStock-511658830.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title design-card-title">EXPLORE</h4>
                <p class="card-text">
                    We use variety of techniques, such as mood boards and wireframe mock-ups to test and validate the look and feel of your website.
                    We iterate and refine then draft what eventually becomes the input to the Blueprint phase.
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top design-card-image-size" src="~/Media/iStock-547130486.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title design-card-title">BLUEPRINT</h4>
                <p class="card-text">
                    We take the output of the Explore phase and turn this into a transformation plan.  This plan considers the scope of work to be carried out by Adcreo and our on-going role to support you.
                    It also considers any organisational and process recommendations we may have for your company to, ensuring you have the best opportunity to align your way of working to the new website and the impact it will have on our business.
                </p>
            </div>
        </div>
    </div>
</section>

@*/******************************************/
    /* Design Service Techniques Used         */
    /******************************************/*@

<section id="design-service-techniques" class="container-fluid" data-aos="fade-up" data-aos-duration="1500">
    <div class="row text-center">
        <div class="col-12">
            Some of the Technologies and Techniques We Use During the Design Phase
        </div>
    </div>
    <div class="row text-center">
        <div class="col-4">
            UXPin - To create Wireframes, Prototypes and the site Information Architecture
        </div>
        <div class="col-4">
            Adobe Illustrator - To create detailed Mood Boards, colors, typograyhy and artwork
        </div>
        <div class="col-4">
            Pinterest - To rapidly create Mood Boards
        </div>
    </div>
    <div class="row text-center">
        <div class="col-4">
            Affinity Clustering - To group ideas
        </div>
        <div class="col-4">
            Persona Profiles - To create detailed profiles of imaginery customer types
        </div>
        <div class="col-4">
            Customer Jounrney Map - To identify potential touchpoints and define associated actions and measures
        </div>
    </div>
    <div class="row text-center">
        <div class="col-4">
            Rose/Bud/Thorn - To identify the emerging good, already good and ugly
        </div>
        <div class="col-4">
            Stakeholder Mapping - To identify key relationships and the strucutre of an organisation/group
        </div>
        <div class="col-4">
            Interviews - To gather and validate information
        </div>
    </div>
    <div class="col-12">
    </div>
</section>


@*<div id="designservice" class="container-fluid p-0">
        <div class="design-services-box1">
            <div>
                <img class="design-responsive-image" data-aos="fade-up" data-aos-duration="1500" src="~/Media/responsive-1166833_640.png" alt="Responsive Design" />
            </div>
            <div class="design-service-text-box" data-aos="fade-up" data-aos-duration="1500">
                <p class="design-service-text-box-title">GETTING CONNECTED</p>
                <div class="design-service-text-box-text">
                    <p>
                        <strong>"Start with the end in mind"</strong> - is a useful concept to keep in mind when starting any project, and creating a new website is no exception.
                    </p>
                    <p>
                        Our approach is simple, using this concept and adding<strong>&nbsp;"...for whom?"</strong>
                    </p>
                    <p>
                        When designing a website it is critical to consider whom you're designing it for - you can do this by adopting a human centered design approach.  By defining the customer experience - the customer 'journey' -
                        you can capture the touch points your organisation has with them on that journey and influence the design accordingly.
                    </p>
                    <p>
                        Walking a mile in your customer's shoes helps better understand their wants and needs and leads to a considered design, underpinned with logic which can be reviewed when assessing
                        if your website is achieiving the objectives you originally defined. For this reason our approach is made up of four key steps outlined below alongwith their key purpose:
                    </p>
                    <ul>
                        <li>
                            <strong>Design - key steps and purpose:</strong>
                            <ul>
                                <li>Understand - to define your objectives and using your insights to better understand and empathsise with your target audience</li>
                                <li>Specify - to craft a clear statement which sets out your primary challenge and problem statement</li>
                                <li>Blueprint - to create ideas, explore them and agree which to take forwards</li>
                                <li>Make - to prototype the selected idea(s)</li>
                                <li>Test - to solicit feedback from potential customer's and validate or revise assumptions</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@
