<div class="container-fluid m-0 p-0">
    <div class="poly1 -grad edge--bottom">
        <div class="poly1-box">
           <blockquote class="quote">"Design is not just what it looks like and feels like. Design is how it works."</blockquote>
            <div class="quote-author">Steve Jobs</div>
        </div>
    </div>
    <div class="poly2 edge--bottom"">
       <div class="poly2-box">
           <blockquote class="quote">"Design is not just what it looks like and feels like. Design is how it works."</blockquote>
            <lead>Steve Jobs</lead>
        </div>
    </div>
    <div class="poly3 -grad edge--bottom"">
        Polygon3
    </div>
    <div class="services-bottom">
        Div
    </div>
</div>