<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT websiteDesignAndBuild ANY>
<!ATTLIST websiteDesignAndBuild id ID #REQUIRED>
<!ELEMENT services ANY>
<!ATTLIST services id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1064" key="c82126d4-a995-4a4d-b7e7-8a9a940a1478" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-03-20T08:47:38" updateDate="2017-03-21T23:43:54" nodeName="Home" urlName="home" path="-1,1064" isDoc="" nodeType="1062" creatorName="Simon Cropper" writerName="Simon Cropper" writerID="0" template="1063" nodeTypeAlias="home">
    <pageHeading><![CDATA[Hello Simon!]]></pageHeading>
    <weAreAboutTitle><![CDATA[Yo! We like to create.]]></weAreAboutTitle>
    <weAreAboutBodyText><![CDATA[Hi! We are a team of designers and developers who focus on understanding your business and use that knowledge to design and create a compelling website.]]></weAreAboutBodyText>
    <about id="1074" key="8d6eae08-c87f-48cc-9180-a1fce0e17b6b" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2017-03-20T16:15:18" updateDate="2017-03-20T17:41:06" nodeName="About" urlName="about" path="-1,1064,1074" isDoc="" nodeType="1070" creatorName="Simon Cropper" writerName="Simon Cropper" writerID="0" template="1066" nodeTypeAlias="about" />
    <services id="1076" key="5bbc1219-6918-4418-a479-288b7c6460e7" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2017-03-20T16:16:11" updateDate="2017-04-02T18:52:47" nodeName="Services" urlName="services" path="-1,1064,1076" isDoc="" nodeType="1072" creatorName="Simon Cropper" writerName="Simon Cropper" writerID="0" template="1067" nodeTypeAlias="services">
      <websiteDesignAndBuild id="1084" key="9c35708f-4084-47ee-8dad-f5096dfbb12c" parentID="1076" level="3" creatorID="0" sortOrder="1" createDate="2017-03-31T17:47:58" updateDate="2017-04-02T13:49:58" nodeName="Website Design And Build" urlName="website-design-and-build" path="-1,1064,1076,1084" isDoc="" nodeType="1082" creatorName="Simon Cropper" writerName="Simon Cropper" writerID="0" template="1083" nodeTypeAlias="websiteDesignAndBuild" />
    </services>
    <blog id="1073" key="a34f4210-8d4e-43f5-8280-628898b73a01" parentID="1064" level="2" creatorID="0" sortOrder="2" createDate="2017-03-20T13:31:53" updateDate="2017-04-02T13:51:50" nodeName="Blog" urlName="blog" path="-1,1064,1073" isDoc="" nodeType="1069" creatorName="Simon Cropper" writerName="Simon Cropper" writerID="0" template="1065" nodeTypeAlias="blog" />
    <contact id="1075" key="6af32841-8f8a-415e-bc1c-9c74f344b50b" parentID="1064" level="2" creatorID="0" sortOrder="3" createDate="2017-03-20T16:15:58" updateDate="2017-04-02T13:51:50" nodeName="Contact" urlName="contact" path="-1,1064,1075" isDoc="" nodeType="1071" creatorName="Simon Cropper" writerName="Simon Cropper" writerID="0" template="1068" nodeTypeAlias="contact" />
  </home>
</root>