/********************************/
/* Navbar Formatting            */
/********************************/

//
// Format the dropdown sub-menu items
//
/*.nav > .nav-item > ul > li > a {
    color: $brand-accent-color1;
    font-size: $small-font-size;
    font-weight: normal;
    background: linear-gradient( rgba(178,190,181,0.8),rgba(178,190,181,0.8)) no-repeat top center fixed;
    padding-left: 5px;
    width: 75%;
    transition: visibility 0s, opacity 1s linear;
    visibility:hidden;
    padding: 2px 0;
}*/

//
// Formatting for anything larger than SMALL
//
@include mappy-bp(small) {
    
    .nav-link {
        font-size: $small-font-size * 1.25;
    }

    .dropdown-menu {
        content: "";
        visibility: hidden;
        opacity: 0;
        display: block;
        top: 32px;
        border: none;
        @include border-radius(0);
        transition: visibility 0s, opacity 1s ease-in-out;
        background-color: transparent !important;
    }

    .dropdown-item {
        /*line-height: 24px;*/
        color: $brand-accent-color1 !important;
        font-size: $small-font-size;
        text-align: center;
        background: linear-gradient( rgba(178,190,181,0.8),rgba(178,190,181,0.8)) no-repeat top center fixed;
    }

    .dropdown:hover {
        background: linear-gradient( rgba(178,190,181,0.8),rgba(178,190,181,0.8)) no-repeat top center fixed;
    }

    .dropdown:hover > .dropdown-menu {
        visibility: visible;
        opacity: 1;
    }
}

//
// Format the collapsed menu
//
#header {
    @include mappy-bp(max small) {
        
       background-color: $brand-primary;
        //
        // Format and position the Hamburger icon
        //
        .navbar-toggler {
            top: 3px;
            right: 0px;
            border-color: none;
            outline: none;
        }

        .hamburger-color {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            font-size: 1rem;
        }
        //
        // Set width of the collapsed menu
        //
        .collapse {
            width: 100%;
        }
        //
        // Set background color and height of the collapsed menu
        //
        .navbar-nav {
            background-color: $brand-dark-gray;
            height: 100%;
        }
        //
        // Format the main menu items e.g. HOME, ABOUT etc.
        //
        .nav-item {
            text-align: center;
            margin: 30px 100px 30px 100px;
            font-size: $large-font-size;
        }
        //
        // Format the dropdown submenu
        //
        .dropdown-menu {
            visibility: visible;
            top: 0;
            opacity: 1;
            display: block;
            top: 32px;
            border: none;
            font-size: $regular-font-size;
            text-align: right;
            @include border-radius(0);
            background-color: transparent !important;
            text-align: center;
            transition: none;   
        }
        //Submenu dropdown items
        .dropdown-item {
            line-height: 24px;
            color: $brand-secondary !important;
            font-size: $regular-font-size;
            width: 40%;
        }

        .dropdown-item:hover {
            background: none;
        }
    }
}

.homepage-header-background-start {
    filter: 10px;
}

.homepage-header-background-scroll {
    background-color: $brand-dark-gray;
    opacity: 1;
    filter: 10px;
}

.otherpages-header-background {
    background-color: $brand-dark-gray;
}

.navbar {
    height: 45px;
}

.navbar-brand:hover {
    color: $brand-white;
    opacity: 0.5;
}

.navbar-brand:visited {
    color: $brand-white;
}

.navbar-brand small {
    display: block;
    font-size: 20px;
    text-align: center;
}

.company-logo, company-logo-tagline {
    font-weight: $heavy;
    color: $brand-white;
    text-align: center;
}

.company-logo {

    @include mappy-bp(max xsmall) {
        font-size: $brand-font-size * 1.5;
    }

    @include mappy-bp(xsmall) {
        font-size: $brand-font-size * 1.5;
    }

    @include mappy-bp(small) {
        font-size: $brand-font-size * 1.5;
    }

    @include mappy-bp(medium) {
        font-size: $brand-font-size * 1.5;
    }

    @include mappy-bp(large) {
        font-size: $brand-font-size * 1.5;
    }

    @include mappy-bp(xlarge) {
        font-size: $brand-font-size * 1.5;
    }
}
/*.company-logo-tagline {

    @include mappy-bp(max xsmall) {
        font-size: $brand-font-size * 0.5;
    }

    @include mappy-bp(xsmall) {
        font-size: $brand-font-size * 0.5;
    }

    @include mappy-bp(small) {
        font-size: $brand-font-size * 0.5;
    }

    @include mappy-bp(medium) {
        font-size: $brand-font-size * 0.5;
    }

    @include mappy-bp(large) {
        font-size: $brand-font-size * 0.5;
    }

    @include mappy-bp(xlarge) {
        font-size: $brand-font-size * 0.5;
    }
}*/
/* Collapsed Navbar - Hamburger formatting */
/*.navbar-toggler {
    top: 15%;
    right: 0px;
}*/
.navbar .navbar-toggler:hover {
    cursor: pointer;
    border-color: $brand-white;
}
/* Navbar Item Formatting */
li.nav-item a {
    font-family: $brand-font-family;
    font-weight: $regular;
}

.active {
    @include underline-middle();
}

li.nav-item:hover a {
    color: $brand-white;
}
/*.dropdown-submenu {
    position: relative;
    color:red;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}*/
