/******************************************/
/* Design Service Overview Page Formatting*/
/******************************************/

/******************************************/
/* Design Service Header                  */
/******************************************/

/* Set the margin-top to equal the height of the navbar */
.design-services-poly1 {
    position: relative;
    @include flexbox();
    @include flex-flow(column wrap);
    @include justify-content(flex-start);
    @include align-items(flex-start);
    margin-left: 0;
    margin-right: 0;
    margin-top: 45px;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(28, 30, 38,0.5),rgba(28, 30, 38,0.5)), url('../../../../Media/luis-llerena-16892.png');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

#design-service-header h1 {
    font-size: $large-font-size * 2;
    font-weight: $bold;
    color: $brand-secondary;
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}

.design-services-poly1-quote {
    @include align-self(center);
    text-align: center;
    font-size: $large-font-size;
    font-weight: $bold;
    color: $brand-secondary;
}

.design-services-poly1-quote-author {
    line-height: 1rem;
    color: white;
    text-align: center;
    @include align-self(center);
}

/******************************************/
/* Design Service Intro Text              */
/******************************************/

.design-services-introbox {
    @include flexbox();
    @include flex-flow(row wrap);
    @include justify-content(space-around);
    @include align-items(center);
    @include flex(1 0 auto);
    width: 100%;
}

.design-services-introbox-title {
    color: $brand-accent-color2;
    letter-spacing: 10px;
    font-weight: $bold;
    text-align: center;
    padding: 50px 0 0 0;

    @include mappy-bp(max xsmall) {
        font-size: $large-font-size * 1;
    }

    @include mappy-bp(xsmall) {
        font-size: $large-font-size * 1;
    }

    @include mappy-bp(small) {
        font-size: $large-font-size * 1;
    }

    @include mappy-bp(medium) {
        font-size: $large-font-size * 1;
    }

    @include mappy-bp(large) {
        font-size: $large-font-size * 1.5;
    }

    @include mappy-bp(xlarge) {
        font-size: $large-font-size * 1.5;
    }
}

.design-services-introbox-text {
    font-size: $regular-font-size;
    padding: 50px 50px;
    line-height: 4rem;
}

/******************************************/
/* Design Service Design Service Cards    */
/******************************************/

.design-card-group {
    padding-bottom: 50px;
}

.design-card-image-size {
    width: 500px;
    height: 500px;
}

.design-card-title {
    color: $brand-accent-color2;
    letter-spacing: 10px;
    font-weight: $bold;
}

#design-service-cards p {
    font-size: $regular-font-size;
}

/******************************************/
/* Design Service Techniques Used         */
/******************************************/

#design-service-techniques {
    background-color: $brand-accent-color2;
    padding: 50px 0;
    /*width: 100%;*/
}

#design-service-techniques .row {
    /*border: 1px solid $brand-secondary;*/
    background-color: $brand-ash-gray;
    color: $brand-primary;
    /*margin: 0 20px;*/
    padding-top: 10px;
    height: 70px;

    &:first-child {
        border: 1px solid $brand-secondary;
        color: $brand-accent-color2;
        letter-spacing: 5px;
        font-size: $large-font-size;
        /*font-weight: $bold;*/
        height: 75px;
        /*margin-top: 100px;*/
    }

    &:last-child {
        border: 1px solid $brand-secondary;
        /*padding-bottom: 50px;*/
    }
}


/*.design-service-text-box {
    @include flexbox();
    @include flex-flow(column wrap);
    @include justify-content(flex-start);
    @include align-items(center);
    @include flex(0 0 auto);
    padding: 10px;
    width: 1000px;
    height: 950px;
    border: 1px solid black;
    font-weight: $bold;
    line-height: 1.5rem;
    box-shadow: 1px 1px 1px #000;
    box-sizing: border-box !important;
    border-radius: 0;
}

.design-service-text-box-title {
    color: $brand-accent-color2;
    letter-spacing: 20px;
    font-size: $large-font-size;
    text-align: center;
}

.design-service-text-box-text {
    font-size: $regular-font-size;
    text-align: left;
    color: $brand-primary;
}

.design-service-text-box-text p {
    font-size: $regular-font-size;
}

.design-service-text-box-text li {
    font-weight: $regular;
    font-size: $regular-font-size;
}

.design-service-text-box-text a {
    font-weight: $regular;
    font-size: $regular-font-size;
    color: $brand-black;
}*/



/*.box1 {
    position: relative;
    @include flexbox();
    @include flex-flow(column wrap);
    @include justify-content(flex-start);
    @include align-items(center);
    height: 800px;
}*/

/*.poly2 {
    position: relative;
    margin: 0px 0 200px;
    height: 600px;
    background-color: blue;
    padding: 20% 20px;
    @include grad(90deg, white, red);
    z-index: 4;
}*/

/*.poly3 {
    margin: -200px 0 800px;
    padding: 20% 20px;
    @include grad(90deg, $brand-body-bg2, $brand-body-bg1);
    z-index: 3;
}*/

/*.poly1-box {
    background: linear-gradient( rgba(0, 10, 64, 0.5), rgba(0, 10, 64, 0.5)) no-repeat center center fixed;
    position: relative;
    margin: -8% 25% 0px 25%;
    width: 100%;
    text-align: center;
}*/





/*.poly2-box {
    position: absolute;
    @extend .poly1-box;
    margin: 3% 5% 0 0;
    background-color: $brand-body-bg2;
    width: 30%;
}

.design-services-bottom {
    margin-top: -550p;
}*/
