/******************************************/
/* Design Service Overview Page Formatting*/
/******************************************/

/* Set the margin-top to equal the height of the navbar */
.design-services-poly1 {
    position: relative;
    @include flexbox();
    @include flex-flow(column wrap);
    @include justify-content(flex-start);
    @include align-items(flex-start);
    margin-left: 0;
    margin-right: 0;
    margin-top: 45px;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(28, 30, 38,0.5),rgba(28, 30, 38,0.5)), url('../../../../Media/luis-llerena-16892.png');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

.design-services-poly1-title {
    font-size: $large-font-size * 2;
    font-weight: $bold;
    color: $brand-secondary;
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}

.design-services-poly1-quote {
    @include align-self(center);
    text-align: center;
    font-size: $large-font-size;
    font-weight: $bold;
    color: $brand-secondary;
}

.design-services-poly1-quote-author {
    line-height: 1rem;
    color: white;
    text-align: center;
    @include align-self(center);
}

.design-services-box1 {
    @include flexbox();
    @include flex-flow(row wrap);
    @include justify-content(space-around);
    @include align-items(center);
    @include flex(1 0 auto);
    width: 100%;
    padding: 30px 0;
}

.design-responsive-image {
    width: 600px;
    height: 600px;
    box-sizing: border-box !important;
    border: none;
    margin-bottom: 20px;
}

.design-service-text-box {
    @include flexbox();
    @include flex-flow(column wrap);
    @include justify-content(flex-start);
    @include align-items(center);
    @include flex(0 0 auto);
    padding: 10px;
    width: 1000px;
    height: 950px;
    /*border: 1px solid black;*/
    font-weight: $bold;
    /*line-height: 1.5rem;*/
    box-shadow: 1px 1px 1px #000;
    box-sizing: border-box !important;
    border-radius: 0;
}

.design-service-text-box-title {
    color: $brand-accent-color2;
    letter-spacing: 20px;
    font-size: $large-font-size;
    text-align: center;
}

.design-service-text-box-text {
    font-size: $regular-font-size;
    text-align: left;
    color: $brand-primary;
}

.design-service-text-box-text p {
    font-size: $regular-font-size;
}

.design-service-text-box-text li {
    font-weight: $regular;
    font-size: $regular-font-size;
}
.design-service-text-box-text a {
    font-weight: $regular;
    font-size: $regular-font-size;
    color: $brand-black;
}

/*.box1 {
    position: relative;
    @include flexbox();
    @include flex-flow(column wrap);
    @include justify-content(flex-start);
    @include align-items(center);
    height: 800px;
}*/

/*.poly2 {
    position: relative;
    margin: 0px 0 200px;
    height: 600px;
    background-color: blue;
    padding: 20% 20px;
    @include grad(90deg, white, red);
    z-index: 4;
}*/

/*.poly3 {
    margin: -200px 0 800px;
    padding: 20% 20px;
    @include grad(90deg, $brand-body-bg2, $brand-body-bg1);
    z-index: 3;
}*/

/*.poly1-box {
    background: linear-gradient( rgba(0, 10, 64, 0.5), rgba(0, 10, 64, 0.5)) no-repeat center center fixed;
    position: relative;
    margin: -8% 25% 0px 25%;
    width: 100%;
    text-align: center;
}*/





/*.poly2-box {
    position: absolute;
    @extend .poly1-box;
    margin: 3% 5% 0 0;
    background-color: $brand-body-bg2;
    width: 30%;
}

.design-services-bottom {
    margin-top: -550p;
}*/
