@*@using Adcreo.Models
@model WeAreAboutModel*@

@*  Home Page Services Section  *@

<div class="container-fluid p-0">
    <div class="home-services-title">Our Services</div>
    <div class="home-services-container">
        <div class="cards">
            @*<div class="card" data-aos="fade-up" data-aos-duration="1500">
                <span class="icon-lightbulb_outline"></span>
                <p class="card-title">DIGITAL STRATEGY</p>
                <p class="card-body">An approach which uses techniques to focus on the customer expereince and journey - helping you to reimaging your business.</p>
                <button type="button" class="card-button button_sliding_bg">Find out more...</button>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
                <span class="icon-lightbulb_outline"></span>
                <p class="card-title">DIGITAL MARKETING MANAGEMENT</p>
                <p class="card-body">An approach which uses techniques to focus on the customer expereince and journey - helping you to reimaging your business.</p>
                <button type="button" class="card-button button_sliding_bg">Find out more...</button>
            </div>*@
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
                <span class="icon-pencil"></span>
                <p class="card-title">DESIGN</p>
                <p class="card-body">We design websites by focusing on your brand and target customers.</p>
                <a href="/services/design/" class="card-button button_sliding_bg">Find out more...</a>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
                <span class="icon-developer_mode"></span>
                <p class="card-title">DEVELOPMENT</p>
                <p class="card-body">We develop flexible and responsive websites you can manage yourself.</p>
                <a href="/services/development/" class="card-button button_sliding_bg">Find out more...</a>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
                <span class="icon-phone2"></span>
                <p class="card-title">SUPPORT</p>
                <p class="card-body">We deploy your website and look after you once it's gone live.</p>
                <a href="/services/support/" class="card-button button_sliding_bg">Find out more...</a>
            </div>
        </div>
        <div class="home-services-contact">
            <a href="/services/contact/" class="contact-button button_sliding_bg">Contact Us</a>
        </div>
    </div>
</div>


@*<div class="container-fluid p-0">
        <div class="container">
            <div class="services-title" data-aos="fade-up" data-aos-duration="1500"><u>Our Services</u></div>
            <div class="all-cards">

                <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                    <div class="card-topbar">
                        <div>
                            <span class="icon-lightbulb_outline"></span>
                        </div>
                        <div class="card-topbar-title">DESIGN THINKING<br/></div>
                        <hr class="style2" />
                    </div>
                    <div class="card-body">
                        <div class="card-body-text">An approach which uses techniques to focus on the customer expereince and journey - helping you to reimaging your business.</div>
                    </div>
                    <div>
                        <hr class="style2" />
                        <div class="card-bottombar">
                            <button type="button" class="btn btn-primary button_sliding_bg card-bottombar-button">Find out more...</button>
                        </div>
                    </div>
                </div>

                <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                    <div class="card-topbar">
                        <div>
                            <span class="icon-pencil"></span>
                        </div>
                        <div class="card-topbar-title">WEBSITE DESIGN AND BUILD</div>
                        <hr class="style2" />
                    </div>
                    <div class="card-body">
                        <div class="card-body-text">Designing and developing unique web sites focused on maxmimising your customer experiences.</div>
                    </div>
                    <div>
                        <hr class="style2" />
                        <div class="card-bottombar">
                            <button type="button" class="btn btn-primary button_sliding_bg card-bottombar-button">Find out more...</button>
                        </div>
                    </div>
                </div>

                <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                    <div class="card-topbar">
                        <div>
                            <span class="icon-stack"></span>
                        </div>
                        <div class="card-topbar-title">CONTENT MANAGEMENT</div>
                        <hr class="style2" />
                    </div>
                    <div class="card-body">
                        <div class="card-body-text">DCreating dynamic website which enable you to control, manage and update the content on your website.</div>
                    </div>
                    <div>
                        <hr class="style2" />
                        <div class="card-bottombar">
                            <button type="button" class="btn btn-primary button_sliding_bg card-bottombar-button">Find out more...</button>
                        </div>
                    </div>
                </div>

                <div class="card" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                    <div class="card-topbar">
                        <div>
                            <span class="icon-phone2"></span>
                        </div>
                        <div class="card-topbar-title">DEPLOYMENT AND SUPPORT</div>
                        <hr class="style2" />
                    </div>
                    <div class="card-body">
                        <div class="card-body-text">Deploying your website and providing on-going support.</div>
                    </div>
                    <div>
                        <hr class="style2" />
                        <div class="card-bottombar">
                            <button type="button" class="btn btn-primary button_sliding_bg card-bottombar-button">Find out more...</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@




@*<div class="container-fluid p-0 services-section">
        <div class="row text-center justify-content-center">

            <div class="col-md-4 col-sm-4">
                <div class="services">
                    <span><i class="icon-display"></i></span>
                    <h4>DESIGN THINKING</h4>
                    <p>An approach which uses techniques to focus on the customer expereince and journey - helping you to reimaging your business.</p>
                    <button type="button" class="btn-sm btn-primary button_sliding_bg align-bottom">Read more...</button>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="services">
                    <span><i class="icon-pencil"></i></span>
                    <h4>WEB APPLICATION DESIGN</h4>
                    <p>Designing and developing unique web sites focused on maxmimising your customer experiences.</p>
                    <button type="button" class="btn-sm btn-primary button_sliding_bg align-bottom">Read more...</button>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="services">
                    <span><i class="icon-stack"></i></span>
                    <h4>CONTENT MANAGEMENT</h4>
                    <p>Creating dynamic website which enable you to control, manage and update the content on your website.</p>
                    <button type="button" class="btn-sm btn-primary button_sliding_bg">Read more...</button>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="services">
                    <span><i class="icon-phone2"></i></span>
                    <h4>DEPLOYMENT AND SUPPORT</h4>
                    <p>Deploying your website and providing on-going support.</p>
                    <button type="button" class="btn-sm btn-primary button_sliding_bg">Read more...</button>
                </div>
            </div>

        </div>
    </div>*@



@*<div class="card">
        <div class="card-topbar">
            <div class="card-topbar-icon">
                <i class="fa fa-lightbulb-o" aria-hidden="true"
                   style="font-size: 42px; color: #000;"></i>
            </div>
            <div class="card-topbar-title">DESIGN THINKING</div>
            <hr class="style2" />
        </div>
        <div class="card-body">
            <div class="card-body-text">We use technqiues to help re-imagine your business</div>
        </div>
        <div class="card-bottombar">
            <hr class="style2" />
            <div>
                <a href="#" class="btn  button_sliding_bg card-bottombar-button">Find out more...</a>
            </div>
        </div>
    </div>*@

@*<div class="flexbox-container">
            <div class="flex-card">
                <div class="flex-card-header-icon border-b">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"
                       style="font-size: 36px; color: #fff;"></i>
                </div>
                <div class="flex-card-header-title">
                    DESIGN THINKING
                    <hr class="style2">
                </div>
                <div class="flex-card-body">
                    <div>Some text describing the service blah</div>
                    <hr class="style2">
                </div>
                <div class="flex-card-footer">Footer</div>
            </div>
            <div class="flex-card">
                <div class="flex-card-header-icon border-b">
                    Icon
                </div>
                <div class="flex-card-header-title">
                    DESIGN THINKING
                    <hr class="style2">
                </div>
                <div class="flex-card-body">
                    <div>Some text describing the service</div>
                    <hr class="style2">
                </div>
                <div class="flex-card-footer">Footer</div>
            </div>
            <div class="flex-card">
                <div class="flex-card-header-icon border-b">
                    Icon
                </div>
                <div class="flex-card-header-title">
                    DESIGN THINKING
                    <hr class="style2">
                </div>
                <div class="flex-card-body">
                    <div>Some text describing the service</div>
                    <hr class="style2">
                </div>
                <div class="flex-card-footer">Footer</div>
            </div>

            <div class="flex-card">
                <div class="flex-card-header-icon border-b">
                    Icon
                </div>
                <div class="flex-card-header-title">
                    DESIGN THINKING
                    <hr class="style2">
                </div>
                <div class="flex-card-body">
                    <div>Some text describing the service</div>
                    <hr class="style2">
                </div>
                <div class="flex-card-footer">Footer</div>
            </div>
        </div>
    </div>*@



@*<div class="container-fluid">
        <div class="row">
            <div class="card-deck" style="text-align: center;">
                <div class="col-lg 3 col-md-3 col-sm-12 col-xs-12">
                    <div class="card mb-5">
                        <img class="card-img-top" src="~/Media/business meeting.jpg" alt="Discovery Services">
                        <div class="card-block">
                            <h4 class="card-title">DISCOVERY</h4>
                            <p class="card-text">We meet with you to find out what it is you want. We present ideas and options and provide advice.</p>
                            <a href="#" class="btn btn-primary button_sliding_bg">Find out more...</a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg 3 col-md-3 col-sm-12 col-xs-12">
                    <div class="card mb-5">
                        <img class="card-img-top" src="~/Media/Design Image.jpg" alt="Web Application Design Services">
                        <div class="card-block">
                            <h4 class="card-title">DESIGN</h4>
                            <p class="card-text">We consider different personas and uses of your web site to embody the essence of your company into the design.</p>
                            <a href="#" class="btn btn-primary button_sliding_bg">Find out more...</a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg 3 col-md-3 col-sm-12 col-xs-12">
                    <div class="card mb-5">
                        <img class="card-img-top" src="~/Media/programming-1857236__340.jpg" alt="Web Application Build Services">
                        <div class="card-block">
                            <h4 class="card-title">CREATE</h4>
                            <p class="card-text">The technical part - we use responsive design patterns which work across monitors, tablets and phones.</p>
                            <a href="#" class="btn btn-primary button_sliding_bg">Find out more...</a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg 3 col-md-3 col-sm-12 col-xs-12">
                    <div class="card mb-5">
                        <img class="card-img-top" src="~/Media/Web Images-10-2.jpg" alt="Application Deployment Service">
                        <div class="card-block">
                            <h4 class="card-title">DEPLOY</h4>
                            <p class="card-text">Make a splash! We launch your web site!.</p><br /><br />
                            <a href="#" class="btn btn-primary button_sliding_bg">Find out more...</a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg 3 col-md-3 col-sm-12 col-xs-12">
                    <div class="card mb-5">
                        <img class="card-img-top" src="~/Media/rock-1771913_640.jpg" alt="Support Services">
                        <div class="card-block">
                            <h4 class="card-title">SUPPORT</h4>
                            <p class="card-text">We look after you. Once your web site has gone live we ensure it remains running in tip-top condition.</p>
                            <a href="#" class="btn btn-primary button_sliding_bg">Find out more...</a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@



